/* https://shkspr.mobi/blog/2020/12/a-terrible-way-to-do-footnotes-in-html */
/* p._expandable, */
p._disclosable, 
details, summary {
  display: inline;
}
/* outside span fixes wrapping of trailing punctuation (if any) */
/* https://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector, https://caniuse.com/css-has */
/* span:has(> details) { */
:not(summary) + span:has(> details:first-child), 
span._wrap-fix {
  white-space: nowrap;
}
/* span > details[open] { */
:not(summary) + span > details[open]:first-child, 
span._wrap-fix > details[open]:first-child {
  white-space: normal;
}
/* https://stackoverflow.com/questions/33384318/how-to-use-nbsp-in-html5, https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
details summary {
  cursor: pointer;
  /* white-space: pre-wrap !important; */
  text-decoration: underline dotted;
  text-underline-offset: 0.2em;
}
details[open] {
  display: contents;
}
/* inside span colors expanded/disclosed text gray */
details summary + span {
  color: rgba(255, 255, 255, 0.55);
}
section:hover details summary + span {
  color: rgba(255, 255, 255, 0.65);
}